
.page {
    display: flex;
    padding-top: 25px;
    background-color: #EBDFD5;
    padding-bottom: 100px;
}

.columnOne{
    border: none;
    border-radius: 15px;
    height: 80vh;
    width: 30vw;
    padding: 20px;
    color: #0D3F66;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px #00000029;
    margin-right: 35px;
    margin-left: 15px;
}

.boxOneDesc{
    font-size: 1.75vw;
    font-weight: 600;
}

.boxOneTitle{
    font-size: 3vw;
}

.boxOneImage {
    height: 29.7vh;
    width: 20vw;
}

.columnTwo {
    display: flex;
    justify-content: center;
}

.Card{
    margin-bottom: 10px;
    padding:25px;
    height: 100%;
    width: 49vw;
    border-radius: 15px;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px #00000029;
}

.header {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 15px;
    margin-bottom: 40px;
    background: #EBDFD5;
    border-radius: 10px;
    width: 220px;
    height: 25px;
}

.headerText {
    color: #0D3F66;
    font-size: 20px;
    font-weight: bold;
}


.form {
    margin-bottom: 15px;
    color: #0D3F66;
}

.docLabel {
    font-weight: bold;
    color: #0D3F66;
    font-size: 20px;
    padding-left: 5px;
}

.twoInputs {
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 18.5vw;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}

/*.docInTxtDt {*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    padding: 8px;*/
/*    margin: 5px;*/
/*    font-size: 18px;*/
/*    width: 16vw;*/
/*    cursor: pointer;*/
/*    box-shadow: 0 3px 6px #00000029;*/
/*}*/

/*.docInTxtAd {*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    padding: 8px;*/
/*    margin: 5px;*/
/*    width: 26%;*/
/*    font-size: 18px;*/
/*    max-width: 400px;*/
/*    cursor: pointer;*/
/*    box-shadow: 0 3px 6px #00000029;*/
/*}*/

/*.docInTxt::placeholder,*/
/*.docInTxtAd::placeholder,*/
.twoInputs::placeholder{
    color: #212121;
    opacity: 0.4;
}

.submitButton{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0D3F66;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    width: 15vw;
    align-self: center;
    position: relative;
    left: 33%;
    cursor: pointer;
}
.submitButton:hover{
    background-color: rgba(13, 63, 102, 0.71);
}

input[type=file]::file-selector-button {
    margin: 10px 10px 10px 0px;
    border: none;
    background: #0D3F66;
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
}

.errorText{
    color: red;
    margin-left: 5px;
    margin-top: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*______________________________________*/

@media (max-width: 330px) {
    .columnOne {
        display: none;
    }

    .columnTwo {
        width: 100%;
    }

    .headerText {
        font-size: 90%;
    }

    .Card {
        width: 80vw;
    }

    .docLabel {
        font-size: 90%;
    }

    .twoInputs {
        font-size: 80%;
        width: 90%;
    }

    .submitButton {
        font-size: 80%;
        width: 45%;
        left: 26%;
    }

    input[type=file]::file-selector-button {
        font-size: 70%;
    }
}

@media (min-width: 331px)and (max-width: 600px) {
    .columnOne {
        display: none;
    }

    .columnTwo {
        width: 100%;
    }

    .headerText {
        font-size: 90%;
    }

    .Card {
        width: 80vw;
    }

    .docLabel {
        font-size: 90%;
    }

    .twoInputs {
        font-size: 80%;
        width: 90%;
    }

    .submitButton {
        font-size: 80%;
        width: 45%;
        left: 26%;
    }

    input[type=file]::file-selector-button {
        font-size: 70%;
    }
}

