.footerMainDivision {
    background-color: #F0F0F0;
    color: #0D3F66;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactDivision {
    padding-bottom: 20px;
    margin-top: 20px;
}

.contactDivision h2{
    font-size: 28px;
}

.callDivision {
    display: flex;
}

.callIcon {
    margin-top: 1px;
    height: 22px;
    width: 22px;
}

.mailDivision {
    display: flex;
    margin-top: 20px;
}

.callSubDivision, .mailSubDivision {
    margin-top: -3px;
    margin-left: 7px;
}

.callText, .mailText {
    font-size: 21px;
}

.mailIcon {
    margin-top: 1px;
    height: 20px;
    width: 27px;
}

.phoneNumber, .emailAddress {
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}

.line {
    width: 3px;
    height: 17rem;
    background-color: black;
    opacity: 15%;
    margin-top: 20px;
    border-radius: 10px;
}

.followDivision {
    margin-top: 20px;
}

.followDivision h2{
    font-size: 28px;
}


.socialDivision {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.images {
    height: 30px;
    width: 30px;
}

.youTubeIcon {
    height: 30px;
    width: 45px;
}

.twitterIcon {
    height: 25px;
    width: 25px;
}

.instagramIcon {
    height: 32px;
    width: 32px;
}

.locationDivision {
    display: flex;
    margin-top: 2rem;
}

.locationIcon {
    height: 23px;
    width: 17px;
}

.locationSubDivision {
    margin-top: -2px;
}

.locationText {
    font-size: 21px;
    margin-top: 10px;
}

.locationAddress {
    width: 100%;
    margin-left: 3%;
    font-size: 17px;
    margin-top: 2px;
    font-weight: 500;
}

/*Media Query Starts Here*/

@media (max-width: 340px) {
    .footerMainDivision {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .line {
        display: none;
    }

    .followDivision {
        margin-left: 42px;
    }
}

@media (min-width: 341px)and (max-width: 600px) {
    .footerMainDivision {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactDivision h2{
        font-size: 28px;
    }

    .followDivision h2{
        font-size: 28px;
    }

    .line {
        display: none;
    }

    .followDivision {
        margin-left: 42px;
    }

    .callIcon {
        margin-top: 1px;
        height: 24px;
        width: 24px;
    }

    .callText, .mailText {
        font-size: 21px;
    }

    .mailIcon {
        margin-top: 1px;
        height: 22px;
        width: 29px;
    }

    .phoneNumber, .emailAddress {
        text-decoration: none;
        font-size: 18px;
        margin-top: 10px;
    }

    .images {
        height: 32px;
        width: 32px;
    }

    .youTubeIcon {
        height: 32px;
        width: 47px;
    }

    .twitterIcon {
        height: 27px;
        width: 27px;
    }

    .instagramIcon {
        height: 34px;
        width: 34px;
    }

    .locationIcon {
        height: 25px;
        width: 19px;
    }

    .locationText {
        font-size: 21px;
        margin-top: 10px;
    }

    .locationAddress {
        font-size: 18px;
    }

    .locationText{
        font-size: 21px;
    }
}
