
.payPage {
    display: flex;
    padding-top: 25px;
    background-color: #EBDFD5;
    padding-bottom: 100px;
}

.paySubDiv{
    border: none;
    border-radius: 15px;
    height: 80vh;
    width: 30vw;
    padding: 20px;
    color: #0D3F66;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px #00000029;
    margin-right: 35px;
    margin-left: 15px;
}
.paySubDivThree{
    padding: 3vw;
}

.paySideCrdpre{
    font-size: 1.75vw;
    font-weight: 600;
}
.paySideCrdHed{
    font-size: 3vw;
}

.paySublogo{
    height: 29.7vh;
    width: 20vw;
}

.payBody {
    display: flex;
    justify-content: center;
}

.payCard1{
    margin-bottom: 10px;
    padding:25px;
    height: 100%;
    width: 49vw;
    border-radius: 15px;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px #00000029;
}

.payBanner {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 15px;
    margin-bottom: 40px;
    background: #EBDFD5;
    border-radius: 10px;
    width: 220px;
    height: 20px;
}

.payBanrTxt{
    color: #0D3F66;
    font-size: 20px;
    font-weight: bold;
}

.payForm1{
    width: 100%;
}

.payBox{
    margin-bottom: 15px;
    color: #0D3F66;
}


.payPage label{
    font-weight: bold;
    color: #0D3F66;
    font-size: 20px;
    padding-left: 5px;
}

.payInTxt{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 40vw;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}

.payInTxt::placeholder,
.payInTxtSbS::placeholder{
    color: #212121;
    opacity: 0.4;
}

.payInTxtSbS{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 18.5vw;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}
.payBoxCorsDis{
    margin-bottom: 15px;
    display: flex;
}
.payBoxCorsDis2{
    display: grid;
}
.payInTxtCorsDis{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 50%;
    font-size: 15px;
    max-width: 400px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}

.discountError{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 75% ;
    font-size: 15px;
    color: red;
    font-family: Roboto, Arial, sans-serif;
}

.error{
    color: red;
    margin-left: 5px;
}

.customPayBtn{

    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #0d3f66;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}

.payInTxtSelectCon{
    margin-left: 5px;
    margin-bottom: 15px;
}

.payBtns {
    display: flex;
    justify-content: center;
}


.paySubBtn{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0D3F66;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    width: 15vw;
    align-self: center;
    position: relative;
    left: 33%;
    cursor: pointer;
}
.paySubBtn:hover {
    background-color: rgba(13, 63, 102, 0.71);
}

.installWidth{
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 30% ;
    font-size: 15px;
    margin-bottom:15px;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0 3px 6px #00000029;
}

.paySlipBody{
    display: flex;
    margin-top: 15px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*________________________________________*/

@media (max-width: 330px) {
    .paySubDiv{
        display: none;
    }
    .payBody{
        width: 100%;
    }
    .payBanrTxt{
        font-size: 90%;
    }
    .payCard1{
        width: 80vw;
    }

    .payPage label{
        font-size: 90%;
    }

    .payInTxt{
        width: 90%;
        font-size: 80%;
    }
    .payInTxtAd{
        width: 39.5%;
        font-size: 68%;
    }
    .payInTxtSbS{
        font-size: 80%;
        width: 90%;
    }
    .paySubBtn{
        font-size: 80%;
        width: 45%;
        left: 26%;
    }

    .customPayBtn{
        font-size: 60%;
        padding: 3.6%;
    }
}

@media (min-width: 331px)and (max-width: 600px) {
    .paySubDiv{
        display: none;
    }
    .payBody{
        width: 100%;
    }
    .payBanrTxt{
        font-size: 90%;
    }

    .payCard1{
        width: 80vw;
    }

    .payPage label{
        font-size: 90%;
    }

    .payInTxt{
        width: 90%;
        font-size: 80%;
    }
    .payInTxtAd{
        width: 39.5%;
        font-size: 68%;
    }
    .payInTxtSbS{
        font-size: 80%;
        width: 90%;
    }
    .paySubBtn{
        font-size: 80%;
        width: 45%;
        left: 26%;
    }

    .customPayBtn{
        font-size: 60%;
        padding: 3.6%;
    }
}