.page {
    display: flex;
    padding-top: 25px;
    background-color: #EBDFD5;
    padding-bottom: 100px;
}

.boxOne {
    border: none;
    border-radius: 15px;
    height: 80vh;
    width: 30vw;
    padding: 20px;
    color: #0D3F66;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px #00000029;
    margin-right: 35px;
    margin-left: 15px;
}

.boxOneTitle{
    font-size: 3vw;
}

.boxOneDesc{
    font-size: 1.75vw;
    font-weight: 600;
}

.boxOneImage{
    height: 29.7vh;
    width: 20vw;
}

.columnTwo {
    display: flex;
    justify-content: center;
}

.Card{
    margin-bottom: 10px;
    padding:25px;
    height: 100%;
    width: 49vw;
    border-radius: 15px;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px #00000029;
}

.header {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 15px;
    margin-bottom: 40px;
    background: #EBDFD5;
    border-radius: 10px;
    width: 220px;
    height: 25px;
}

.headerText{
    color: #0D3F66;
    font-size: 20px;
    font-weight: bold;
}

.fieldBox{
    margin-bottom: 15px;
    color: #0D3F66;
}

.page label{
    font-weight: bold;
    color: #0D3F66;
    font-size: 20px;
    padding-left: 5px;
}

.input{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 40vw ;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}
.twoInputs{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 18.5vw;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}
.inputDates {
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
    width: 16vw;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}
.cityPincode{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 26%;
    font-size: 18px;
    max-width: 400px;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
}
.input::placeholder,
.twoInputs::placeholder,
.cityPincode::placeholder{
    color: #212121;
    opacity: 0.4;
}

.twoDates{
    margin-bottom: 15px;
    display: flex;
    column-gap: 3.5vw;
}
.twoDates2{
    display: grid;
}

.qrImage {
    border-radius: 20px;
    /*height: 29.7vh;*/
    /*width: 20vw;*/
    /*height: 10%;*/
    width: 30%;
}

.submitButton {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0D3F66;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    width: 15vw;
    align-self: center;
    position: relative;
    left: 33%;
    cursor: pointer;
}
.submitButton:hover{
    background-color: rgba(13, 63, 102, 0.71);
}

.error{
    color: red;
    margin-left: 5px;
}
.errorText{
    display: flex;
    font-size:15px;
    color: red;
    margin-left:5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*_________________________________________*/

@media (max-width: 330px) {
    .boxOne{
        display: none;
    }
    .columnTwo{
        width: 100%;
    }
    .headerText{
        font-size: 90%;
    }

    .Card{
        width: 80vw;
    }

    .page label{
        font-size: 90%;
    }

    .input{
        width: 90%;
        font-size: 80%;
    }
    .cityPincode{
        width: 39.5%;
        font-size: 68%;
    }
    .inputDates{
        width:80%;
        padding: 8px;
        margin: 5px;
        font-size: 80%;
    }
    .twoInputs{
        font-size: 80%;
        width: 90%;
    }
    .qrImage{
        /*height: 30vh;*/
        /*width: 40vw;*/
        width: 30%;
    }
    .submitButton{
        font-size: 80%;
        width: 45%;
        left: 26%;
    }
}

@media (min-width: 331px)and (max-width: 600px) {
    .boxOne{
        display: none;
    }
    .columnTwo{
        width: 100%;
    }
    .headerText{
        font-size: 90%;
    }

    .Card{
        width: 80vw;
    }

    .page label{
        font-size: 90%;
    }

    .input{
        width: 90%;
        font-size: 80%;
    }
    .cityPincode{
        width: 39.5%;
        font-size: 68%;
    }
    .inputDates{
        width:80%;
        padding: 8px;
        margin: 5px;
        font-size: 80%;
    }
    .twoInputs{
        font-size: 80%;
        width: 90%;
    }
    .qrImage{
        /*height: 30vh;*/
        /*width: 40vw;*/
        width: 30%;
    }
    .submitButton{
        font-size: 2vw;
        width: 45%;
        left: 26%;
    }
}